<app-card
  class="bg-light-green"
  [list]="students$ | async"
>
 <img
    alt="student image"
    src="assets/img/student.webp"
    width="200px"
  />

  <ng-template #rowRef let-student>
    <app-list-item [name]="student.firstname">
      <button (click)="deleteStudent(item.id)">
        <img class="h-5" alt="trash image" src="assets/svg/trash.svg" />
      </button>
    </app-list-item>
  </ng-template>
  <button
    class="border border-blue-500 bg-blue-300 p-2 rounded-sm"
    (click)="addNewStudent()"
  >
    Add Student
  </button>
</app-card>
