<app-card
  class="bg-light-blue"
  [list]="cities$ | async"
>
  <img
    alt="city image"
    src="assets/img/city.png"
    width="200px"
  />
  <ng-template #rowRef let-city>
    <app-list-item [name]="city.name">
      <button (click)="deleteCity(item.id)" >
        <img class="h-5" alt="trash image" src="assets/svg/trash.svg" />
      </button>
    </app-list-item>
  </ng-template>
   <button
    class="border border-blue-500 bg-blue-300 p-2 rounded-sm"
    (click)="addNewCity()"
  >
   Add City
  </button>
</app-card>
